<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.usc.projecttalent.cognitive">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vocab.VO31_Activity"
            android:label="@string/vocabulary"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".FinishActivity"
            android:label="@string/title_activity_finish"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".numbers.SecNS_Activity"
            android:label="@string/title_activity_sec_ns_"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".numbers.SecNSEx1AActivity"
            android:label="@string/title_activity_sec_nsex1_a"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".numbers.SecNSIntro_Activity"
            android:label="@string/title_activity_sec_nsintro_" />
        <activity
            android:name=".numbers.Set3Item1Activity"
            android:label="@string/title_activity_set3_item1"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".numbers.Set3Item2_Activity"
            android:label="@string/title_activity_set3_item2_"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".numbers.Set3Item3_Activity"
            android:label="@string/title_activity_set3_item3_"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".numbers.Set1Item1_Activity"
            android:label="@string/title_activity_set1_item1_"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".numbers.Set1Item2_Activity"
            android:label="@string/title_activity_set1_item2_"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".numbers.Set1Item3_Activity"
            android:label="@string/title_activity_set1_item3_"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".numbers.Set2Item1_Activity"
            android:label="@string/title_activity_set2_item1_"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".numbers.Set2Item2_Activity"
            android:label="@string/title_activity_set2_item2_"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".numbers.Set2Item3_Activity"
            android:label="@string/title_activity_set2_item3_"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".numbers.Set4Item1_Activity"
            android:label="@string/title_activity_set4_item1_"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".numbers.Set5Item1_Activity"
            android:label="@string/title_activity_set5_item1_"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".numbers.Set4Item2_Activity"
            android:label="@string/title_activity_set4_item2_"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".numbers.Set4Item3_Activity"
            android:label="@string/title_activity_set4_item3_"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".numbers.Set5Item2_Activity"
            android:label="@string/title_activity_set5_item2_"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".numbers.Set5Item3_Activity"
            android:label="@string/title_activity_set5_item3_"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".reasoning.SecAR_Activity"
            android:label="@string/title_activity_sec_ar_" />
        <activity
            android:name=".reasoning.ARans1_Activity"
            android:label="@string/title_activity_arans1_" />
        <activity
            android:name=".reasoning.ARpractice1_Activity"
            android:label="@string/title_activity_arpractice1_" />
        <activity
            android:name=".reasoning.ARpracticeCorrect_Activity"
            android:label="@string/title_activity_arpractice_correct_" />
        <activity
            android:name=".reasoning.ARpracticeWrong_Activity"
            android:label="@string/title_activity_arpractice_wrong_" />
        <activity
            android:name=".reasoning.ARpractice2_Activity"
            android:label="@string/title_activity_arpractice2_" />
        <activity
            android:name=".reasoning.ARpractice2ans_Activity"
            android:label="@string/title_activity_arpractice2ans_" />
        <activity
            android:name=".reasoning.ARIntro_Activity"
            android:label="@string/title_activity_arintro_" />
        <activity
            android:name=".reasoning.AR31_Activity"
            android:label="@string/title_activity_ar31_" />
        <activity
            android:name=".reasoning.AR32_Activity"
            android:label="@string/title_activity_ar32_" />
        <activity
            android:name=".reasoning.AR33_Activity"
            android:label="@string/title_activity_ar33_" />
        <activity
            android:name=".reasoning.AR11_Activity"
            android:label="@string/title_activity_ar11_" />
        <activity
            android:name=".reasoning.AR12_Activity"
            android:label="@string/title_activity_ar12_" />
        <activity
            android:name=".reasoning.AR13_Activity"
            android:label="@string/title_activity_ar13_" />
        <activity
            android:name=".reasoning.AR21_Activity"
            android:label="@string/title_activity_ar21_" />
        <activity
            android:name=".reasoning.AR22_Activity"
            android:label="@string/title_activity_ar22_" />
        <activity
            android:name=".reasoning.AR23_Activity"
            android:label="@string/title_activity_ar23_" />
        <activity
            android:name=".reasoning.AR41_Activity"
            android:label="@string/title_activity_ar41_" />
        <activity
            android:name=".reasoning.AR42_Activity"
            android:label="@string/title_activity_ar42_" />
        <activity
            android:name=".reasoning.AR43_Activity"
            android:label="@string/title_activity_ar43_" />
        <activity
            android:name=".reasoning.AR51_Activity"
            android:label="@string/title_activity_ar51_" />
        <activity
            android:name=".reasoning.AR52_Activity"
            android:label="@string/title_activity_ar52_" />
        <activity
            android:name=".reasoning.AR53_Activity"
            android:label="@string/title_activity_ar53_" />
        <activity android:name=".vocab.VocabIntro"></activity>
    </application>

</manifest>